/audio.o
/core.o
/dynvector/dynvector.o
/hypermath/hypermath.o
/input.o
/libcoati.so
/coati.import.scm
/coati.import.so
/coati.so
/triangulate.cc
/a.out
/dynvector_test.c
/#LICENCE#
/src/c/core.c~
/aux.c~
/aux.h~
/batch.scm~
/src/c/dynvector/dynvector.c~
/test.c~
/transformation.scm~
